.Cell {
  width: 40px;
  height: 40px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cell > div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: cornflowerblue;
}